.normal {
  background-color: #9d9d72;
}

.fire {
  background-color: #f37538;
}

.water {
  background-color: #567fe5;
}

.grass {
  background-color: #62c154;
}

.electric {
  background-color: #ffcb47;
}

.ice {
  background-color: #85ced1;
}

.ground {
  background-color: #e1ba69;
}

.flying {
  background-color: #a17fe8;
}

.poison {
  background-color: #9d3392;
}

.fighting {
  background-color: #bf2d29;
}

.psychic {
  background-color: #ff4d7e;
}

.dark {
  background-color: #6a4f42;
}

.rock {
  background-color: #b19a47;
}

.bug {
  background-color: #a0b135;
}

.ghost {
  background-color: #644b8a;
}

.steel {
  background-color: #9591a8;
}

.dragon {
  background-color: #5018b6;
}

.fairy {
  background-color: #cd849b;
}
