* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  flex-direction: column;
}

.paragrafo__footer {
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.link__linkedin {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.titulo-logo {
  max-width: 90%;
  height: auto;
  display: block;
  margin: auto;
}
