* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.paragrafo__footer {
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.link__linkedin {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.titulo-logo {
  max-width: 90%; 
  height: auto;
  display: block; 
  margin: auto;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 600px;
    margin: 0 auto;
  }
}
