.content .pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
  align-self: flex-end;
}

.pokemon .number {
  color: #000;
  opacity: 0.6;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff5ee;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.types .type {
  color: #fff5ee;
  padding: 0.23rem 0.5rem;
  font-size: 0.625rem;
  margin: 0.25rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  text-align: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.4rem 0.6rem;
  margin: 0.25rem 0;
  font-size: 1rem;
  background-color: #6c79db;
  color: #fff;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
